@font-face{
	font-family: Montserrat-400;
	src:  url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
	font-family: Montserrat-500;
	src:  url(../fonts/Montserrat-Medium.ttf);
}

@font-face{
	font-family: Montserrat-600;
	src:  url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face{
	font-family: Montserrat-700;
	src:  url(../fonts/Montserrat-Bold.ttf);
}

.body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.page-header{
	min-height: 100vh;
	height: 650px;
	min-width: 1366px;
	width: auto;
    color: #F9FBFD;
	background-color: blue;
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
}
.header-top{
	padding-top: 35px;
}

.page-header img{
	margin-left: 103px;
	margin-top: 35px;
	cursor: pointer
}

.navigation{
	position: absolute;
	left: 669px;
	top: 45px;
	margin: 0;
}

.navigation a{
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	align-items: center;
	color: #F9FBFD;
	text-decoration: none;
	padding-right: 33px;
}

.navigation a:hover{
color: #e6e6e6;
}

.navigation a:active{
color: #b8b8b8;
}

.header-bottom{
	position: absolute;
	width: 636px;
	left: 198px;
	top: 291px;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	color: #F9FBFD;
	
}

.header-bottom h1{
	font-family: Montserrat-700;
	font-weight: 700;
	font-size: 54px;
	width: 636px;
	height: 39px;
	margin: 0;
}

.header-bottom p{
	position: absolute;
	top: 57px;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;

}

.h2{
	font-family: Montserrat-600, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	align-items: center;
	color: #011C40;
}

.h3{
	font-family: Montserrat-500, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;
	line-height: 140%;
}



.p{
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	align-items: center;
	color: #011C40;
}

.description-text{
	display: inline-block;
	vertical-align: middle;
	width: 620px;
	height: auto;
}

.description h2{
	display: inline-block;
	vertical-align: middle;
	font-family: Montserrat-600, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 150%;
	align-items: center;
	color: #011C40;
	margin: 0;
	margin-left: 103px;
	margin-top: -5px;
}

.description p{
	display: inline-block;
	vertical-align: middle;
	width: 512px;
	height: auto;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #011C40;
	margin: 0;
	padding-left: 103px;
	padding-top: 24px;
}

.description img{
	display: inline-block;
	vertical-align: middle;
	width: 560px;
	height: 301px;
	margin-bottom: 121px;
	margin-top: 120px;
	margin-left: 79px;
}

.advantages{
	min-width: 1366px;
	width: auto;
	height: auto;
	background-image: url(../img/advantages.jpg);
	background-repeat: no-repeat;
	background-color: #ace7f2;
	margin: 0;
	margin-bottom: 108px;
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
}

.advantages li{
	list-style-type: none;
}

.advantages ul{
	padding-bottom: 120px;
}
.advantages h2{
	font-family: Montserrat-600, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	color: #011C40;
	margin: 0;
	margin-left: 569px;
	padding-top: 113px;
}

.advantages h3{
	font-family: Montserrat-500, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: #011C40;
	margin: 0;
	margin-top: 82px;
	margin-left: 30px;
}

.advantages p{
	height: auto;
	margin-left: 30px;
	margin-top: 9px;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 145%;
	color: #011C40;
}

.advantages-item-one{
	width: 360px;
	height: auto;
	background-color: #F9FBFD;
	background-image: url(../img/ship.svg);
	background-size: 27px 32px; 
	background-position: 30px 30px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 37px;
	margin-left: 63px;
}

.advantages-item-one p{
	width: 290px;
	margin-bottom: 45px;

}

.advantages-item-two{
	width: 360px;
	height: auto;
	background-color: #F9FBFD;
	background-image: url(../img/tick.svg);
	background-size: 38px 21px; 
	background-position: 30px 34px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 36px;
	margin-top: 38px;
}

.advantages-item-two p{
	width: 280px;
	margin-bottom: 45px;
}

.advantages-item-three{
	position: absolute;
	width: 360px;
	height: auto;
	background-color: #F9FBFD;
	background-image: url(../img/excursion.svg);
	background-size: 42px 15px; 
	background-position: 30px 38px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 37px;
	margin-left: 40px;
}

.advantages-item-three p{
	width: 241px;
	margin-bottom: 25px;
}

.cruise-h{
	line-height: 150%;
	margin: 0;
	margin-left: 532px;
}

.cruises{
	width: 1318px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 25px;
	margin-top: 49px;
	z-index: 0;
	justify-content: center;
}

.cruises h3{
	color: #F9FBFD;
}

.cruise{
	position: relative;
	width: 260px;
	height: 386px;
}

.cruise::before{
	position: absolute;
	margin-top: 337px;
	margin-left: 30px;
    color: #F9FBFD;
    font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
}

.cruises section{
	height: 385px;
}

.astor{
	margin-left: 0;
}

.astor::before{
	content: "Круиз “Астория”";	
}

.m-l{
	margin-left: 30px;
}

.m-t{
	margin-top: 30px;
}

.el::before{
	position: absolute;
	content: "Круиз “Элайн”";	
}

.atlant::before{
	position: absolute;
	content: "Круиз “Атлантис”";	
}

.odis::before{
	position: absolute;
	content: "Круиз “Одиссей”";	
}

.olimp::before{
	position: absolute;
	content: "Круиз “Олимпия”";	
}

.avror::before{
	position: absolute;
	content: "Круиз “Аврора”";	
}

.leon::before{
	position: absolute;
	content: "Круиз “Леонор”";	
}

.min::before{
	position: absolute;
	content: "Круиз “Минион - 1";	
}

.info{
	display: block;
	position: absolute;
	width: 260px;
	height: 386px;
	left: 414px;
	z-index: 3;
	justify-content: center;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	align-items: center;
	color: #D8D8D9;
	font-size: 14px;
	line-height: 140%;
}

.info ul{
	padding: 0;
}

.info li{
	width: 208px;
	list-style: none;
	margin: 0;
}

.info-el{
	top: 1954px;
}

.info-astor{
	left: 124px;
	top: 1954px;
}

.info-atlant{
	left: 704px;
	top: 1954px;
}

.info-odis{
	left: 994px;
	top: 1954px;
}

.info-olimp{
	left: 124px;
	top: 2370px;
}
.info-avror{
	left: 414px;
	top: 2370px;
}

.info-leon{
	left: 704px;
	top: 2370px;
}

.info-min{
	left: 994px;
	top: 2370px;
}

.info h3{
	margin-top: 42px;
	margin-bottom: 28px;
	top: 35px;
}

.info-2 {
	display: none;
}

.info:hover .info-2{
	display: block;
	position: absolute;
	width: 234px;
	height: 386px;
	left: -34px;
	top: -60px;
	margin-top: 60px;
	margin-left: 30px;
	background-color: #011C40;
	padding-left: 25px;
}

.info .b{
	display: block;
	font-family: Montserrat-500, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;
	line-height: 140%;
}

.info-h{
	line-height: 0%;
}

.route-li{
	position: absolute;
}

.port-li{
	position: absolute;
	top: 141px;
}

.duration-li{
	position: absolute;
	top: 197px;
}

.price-li{
	position: absolute;
	top: 249px;
}

.btn{
	position: absolute;
	display: block;
	background: #F9FBFD;
	width: 210px;
	height: 40px;
	text-decoration: none;
	top: 311px;
}


.info .btn{
	width: 165px;
	height: 29px;
	position: absolute;
	color: #011C40;
	font-family: Montserrat-600, sans-serif;
	font-weight: 600;
	bottom: 11px;
	padding-left: 45px;
	padding-top: 11px;
}

.btn:hover{		
	color: #034aa6;
	background-color: #e6e6e6;
}

.btn:active{		
	color: #034aa6;
	background-color: #b8b8b8;
}


.b{
	font-family: Montserrat-500, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;
	line-height: 140%;
}

.b3{
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	align-items: center;
	color: #011C40;
}

.booking{
	display: block;
	min-width: 1366px;
	width: auto;
	height: 555px;
	margin-top: 152px;
	background-image: url(../img/booking.jpg);
	background-color: #87cefa;
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
}

.booking-text{
	display: inline-block;
	width: 671px;;
}

.booking h2{
	display: inline-block;
	vertical-align: middle;
	padding-top: 0px;
	padding-left: 163px;
	font-family: Montserrat-700, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	align-items: center;
	color: #011C40;
	margin: 0px;
}

.booking p{
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	padding-left: 163px;
	font-size: 18px;
	line-height: 150%;
	width: 352px;
	align-items: center;
	color: #011C40;
	padding-top: 14px;
	margin: 0px;
	margin-bottom: 283px;
}

.booking .booking-form{
	display: inline-block;
	height: auto;
	width: 403px;
	margin-bottom: 51px;
	background: #011C40;
	margin-left: 126px;
	margin-top: 51px;
}

::-webkit-input-placeholder {color:#011C40;}

.booking-form .b3{
	display: block;
	font-family: Montserrat-500, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
	color: #F9FBFD;
	width: 303px;
	padding-top: 44px;
	padding-left: 50px;
	margin: 0;
	margin-bottom: 27px;
}

.booking-form-group input{
	width: 286px;
	height: 41px;
	background: #F9FBFD;
	margin-left: 45px;
	border: none;
	color: #011C40;
	padding-left: 16px;
	font-size: 14px;
	font-family: Montserrat-400,  sans-serif;
	margin-bottom: 20px;
}

.booking-form-group input:hover{
	background-color: #e6e6e6;
}

.booking-form-group input:active{
	background-color:  #b8b8b8;
}

.booking-form-group input:focus{
	outline: none;
	color: blue;
}

.booking-form-group label{
	font-size: 0;
}

.checkbox-area label{
	font-size: 0;
}


.booking-form-group input[type="text"]{
	top: 125px;
}

.booking-form-group input[type="tel"]{
	top: 188px;
}

.booking-form-group input[type="email"]{
	top: 251px;
}

.checkbox-area{
	display: block;
	margin-left: 45px;
	margin-bottom: 23px;
}

.checkbox-area input[type="checkbox"]{
	margin-left: 50px;
	width: 18px;
	height: 18px;
	margin: 0;
	background: #F9FBFD;
	cursor: pointer;
}

.checkbox-area input[type="checkbox"]:checked:before{
	font-size: 12px;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	width: 18px;
	height: 18px;
	content: "\2713";
	font-family: Montserrat-700, sans-serif;
	font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #011C40;
    text-align: center;
    line-height: 15px;
    background-color: #F9FBFD;
}

.checkbox-area .consent{
	display: inline-block;
	width: 279px;
	vertical-align: middle;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 130%;
	align-items: center;
	color: #F9FBFD;
	margin-bottom: 8px;
}

.button{
	display: block;
	position: inherit;
	width: 303px;
	height: 42px;
	padding: 0;
	cursor: pointer;
	border-radius: 0;
	margin: 0;
	border: 0;
	margin-top: 10px;
	margin-left: 50px;
	font-family: Montserrat-600, sans-serif;
	font-weight: 600;
	font-size: 14px;
	align-items: center;
	color: #011C40;
	margin-bottom: 50px;
}

.button:active{
	outline: none;
}

.button:focus{
	outline: none;
}

.geo{
	display: block;
	width: 1160px;
	height: 306px;
	margin-left: 103px;
	margin-top: 122px;
}

.geo:before{
	content: "";
	position: absolute;
	background-image:url(../img/geo-Vector.svg);
	background-repeat: no-repeat;
	background-size: 18px 22px;
	width: 18px;
	height: 22px;
	top: 3768px;
	left: 352px;
}

.geo-text{
	display: inline-block;
	margin-left: 96px;
}

.geo h3{
	width: 500px;
	height: 40px;
	margin: 0;
	margin-bottom: 41px;
	font-family: Montserrat-500, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	display: flex;
	align-items: center;
	color: #011C40;
}

.address:before{
	content: "";
	position: absolute;
	background-image:url(../img/geo-Vector.svg);
	background-repeat: no-repeat;
	background-size: 18px 22px;
	width: 18px;
	height: 22px;
	left: 763px;
	top: 3712px;
}

.address-p{
	margin: 0px;
	margin-bottom: 110px;
	margin-left: 28px;
}

.phone{
	position: relative;
	bottom: 83px;
	margin: 0;
	margin-left: 28px;
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #011C40;
	align-items: center;
	text-decoration: none;
}

.phone:hover{
	color: #034aa6;
}

.geo-phone:before{
	content: "";
	position: absolute;
	background-image:url(../img/phone.svg);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	width: 18px;
	height: 18px;
	top: 3759px;
}

.geo-phone img{
	width: 18px;
	height: 18px;
	left: 660px;
	top: 208px;
	margin: 0;
}

.page-footer{
	display: block;
	min-width: 1366px;
	width: auto;
	height: auto;
	left: 0px;
	margin-top: 119px;
	background: #011C40;
}


.logo-bottom{
	margin-left: 103px;
	margin-top: 50px;
}

.nav-bottom{
	display: inline-block;
	vertical-align: top;
	margin-left: 36px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.nav-bottom a{
	font-family: Montserrat-400, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	color: #F9FBFD;
	text-decoration: none;
	padding-right: 31px;
}

.nav-bottom a:hover{
	color: #e6e6e6;
}

.nav-bottom a:active{
	color: #b8b8b8;
}

.social{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	left: 306px;
	margin-top: -27px;
}

.social img:hover{
	transform: scale(1.5);
}

.social img:active{
	transform: scale(2);
}

.icon{
	padding-right: 29px; 
	cursor: pointer;
}

.social a:hover{

}

.social a:active{
	color: #b8b8b8;
}

.facebook{
	position: relative;
	bottom: 1px;
}

.twiter{
	position: relative;
	bottom: 3px;
}

@media (max-width: 1300px) {

.description h2{
	margin-top: 187px;
}

.info-el{
	position: relative;
	top: -386px;
	left: 35px;
}

.info-astor{
	position: relative;
	left: 5px;
	top: -386px;
}

.info-atlant{
	position: relative;
	left: 35px;
	top: -386px;
}

.info-odis{
	position: relative;
	left: 35px;
	top: -386px;
}

.info-olimp{
	position: relative;
	left: 5px;
	top: -386px;
}
.info-avror{
	position: relative;
	left: 35px;
	top: -386px;
}

.info-leon{
	position: relative;
	left: 35px;
	top: -386px;
}

.info-min{
	position: relative;
	left: 35px;
	top: -386px;
}

.info h3{
	margin-top: 42px;
	margin-bottom: 28px;
	top: 35px;
}

.info-2 {
	display: none;
}

.info:hover .info-2{
	display: block;
	position: absolute;
	width: 234px;
	height: 386px;
	left: -34px;
	top: -60px;
	margin-top: 60px;
	margin-left: 30px;
	background-color: #011C40;
	padding-left: 25px;
}

 .address:before{
	top: 3891px;
}

.geo-phone:before{
	top: 3940px;
}

.geo:before{
	top: 3950px;
}
}

@media (min-width: 1400px){
.info-el{
	position: relative;
	left: 33px;
	top: -385px;
}

.info-astor{
	position: relative;
	left: 5px;
	top: -385px;
}

.info-atlant{
	position: relative;
	left: 33px;
	top: -385px;
}

.info-odis{
	position: relative;
	left: 33px;
	top: -385px;
}

.info-olimp{
	position: relative;
	left: 5px;
	top: -388px;
}
.info-avror{
	position: relative;
	left: 33px;
	top: -388px;
}

.info-leon{
	position: relative;
	left: 33px;
	top: -388px;
}

.info-min{
	position: relative;
	left: 33px;
	top: -388px;
}

.address:before{
	
}

.geo-phone:before{
	top: 3760px;
}

.geo:before{
	top: 3775px;
}
}