@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
	margin: 0;
	padding: 0;
}

.page-header{
	width: 1366px;
	height: 650px;
    color: #F9FBFD;
	background-color: blue;
	background: url(img/header.png);

}
.header-top{
	padding-top: 35px;
}

.page-header img{
	margin-left: 103px;
	margin-top: 35px;
	cursor: pointer
}

.navigation{
	position: absolute;
	left: 669px;
	top: 45px;
	margin: 0;
}

.navigation a{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	align-items: center;
	color: #F9FBFD;
	text-decoration: none;
	padding-right: 33px;
}

.navigation a:hover{
color: #e6e6e6;
}

nav a:active{
color: #b8b8b8;
}

.header-bottom{
	position: absolute;
	width: 636px;
	left: 198px;
	top: 291px;
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	color: #F9FBFD;
	
}

.header-bottom h1{
	font-weight: 700;
	font-size: 54px;
	width: 636px;
	height: 39px;
	margin: 0;
}

.header-bottom p{
	position: absolute;
	top: 57px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;

}



.h2{
	font-family: Montserrat, "Cramaten", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	align-items: center;
	color: #011C40;
}

.h3{
	font-family: Montserrat, "Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	align-items: center;
	color: #011C40;
}



.p{
	font-family: Montserrat, "Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	align-items: center;
	color: #011C40;
}

.description h2{
	position: absolute;
	width: 430px;
	height: 21px;
	left: 103px;
	top: 826px;
	font-family: Montserrat, "Cramaten", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 150%;
	align-items: center;
	color: #011C40;
	margin: 0;
}

.description p{
	position: absolute;
	width: 512px;
	height: 108px;
	left: 103px;
	top: 892px;
	font-family: Montserrat, "Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	align-items: center;
	color: #011C40;
	margin: 0;
}

.description img{
	position: absolute;
	width: 560px;
	height: 301px;
	left: 703px;
	top: 770px;
}

.advantages{
	position: absolute;
	width: 1366px;
	height: 562px;
	left: 0px;
	top: 1191px;
	background-image: url(img/advantages.png);
	background-color: #e3e3e3;
}

.advantages h2{
	position: absolute;
	width: 228px;
	height: 21px;
	left: 569px;
	top: 110px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 150%;
	align-items: center;
	color: #011C40;
	margin: 0;
}

.advantages h3{
	position: absolute;
	height: 13px;
	left: 30px;
	top: 82px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	align-items: center;
	color: #011C40;
	margin: 0;
}

.advantages p{
	position: absolute;
	width: 280px;
	height: 71px;
	left: 30px;
	top: 117px;
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 145%;
	align-items: center;
	color: #011C40;
	margin: 0;
}



.advantages-item-one{
	position: absolute;
	width: 360px;
	height: 241px;
	left: 103px;
	top: 201px;
	background: #F9FBFD;
}

.advantages-item-one p{
	width: 290px;
}

.advantages-item-one img{
	height: 32px;
	width: 27px;
	margin: 30px;
}

.advantages-item-two{
	position: absolute;	
	width: 360px;
	height: 241px;
	left: 503px;
	top: 201px;
	background: #F9FBFD;
}

.advantages-item-two img{
	height: 21px;
	width: 38px;
	margin-top: 35px;
	margin-left: 30px;
}

.advantages-item-two p{
	width: 280px;
}

.advantages-item-three{
	position: absolute;
	width: 360px;
	height: 241px;
	left: 903px;
	top: 201px;
	background: #F9FBFD;
}

.advantages-item-three img{
	height: 15px;
	width: 42px;
	margin-top: 38px;
	margin-left: 30px;
}

.advantages-item-three p{
	width: 241px;
}

.cruis-h{
	position: absolute;
	left: 532px;
	top: 1863px;
	line-height: 150%;
	margin: 0;
}

.cruises{
	display: flex;
	flex-wrap: wrap;
	margin-left: 25px;
	margin-top: 1304px;
	z-index: 0;
	justify-content: center;
}

.cruises h3{
	color: #F9FBFD;
	
}

.cruis{
	width: 260px;
	height: 386px;
}

.cruis::before{
	position: absolute;
	margin-top: 337px;
	margin-left: 30px;
    color: #F9FBFD;
    font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
}

.astor{
	margin-left: 0;
}

.astor::before{
	content: "Круиз “Астория”";	
}

.m-l{
	margin-left: 30px;
}

.m-t{
	margin-top: 30px;
}

.el::before{
	position: absolute;
	content: "Круиз “Элайн”";	
}

.atlant::before{
	position: absolute;
	content: "Круиз “Атлантис”";	
}

.odis::before{
	position: absolute;
	content: "Круиз “Одиссей”";	
}

.olimp::before{
	position: absolute;
	content: "Круиз “Олимпия”";	
}

.avror::before{
	position: absolute;
	content: "Круиз “Аврора”";	
}

.leon::before{
	position: absolute;
	content: "Круиз “Леонор”";	
}

.min::before{
	position: absolute;
	content: "Круиз “Минион - 1";	
}

.info{
	display: block;
	position: absolute;
	width: 260px;
	height: 386px;
	left: 412px;
	z-index: 3;
	justify-content: center;
}

.info-astor{
	left: 121px;
}

.info-atlant{
	left: 701px;
}

.info-odis{
	left: 991px;
}

.info-olimp{
	left: 121px;
	top: 2370px;
}

.info-avror{
	left: 412px;
	top: 2370px;
}

.info-leon{
	left: 701px;
	top: 2370px;
}

.info-min{
	left: 991px;
	top: 2370px;
}

.info h3{
	margin-top: 35px;
	margin-bottom: 25px;
	top: 35px;
}

.info-2 {
	display: none;
}

.info:hover .info-2{
	display: block;
	position: absolute;
	width: 234px;
	height: 386px;
	left: -32px;
	top: -60px;
	margin-top: 60px;
	margin-left: 30px;
	background-color: #011C40;
	padding-left: 25px;
}

.info p{
	color: #D8D8D9;
	font-size: 14px;
	width: 208px;
	margin: 0;
	line-height: 140%;
}

.info-h{
	line-height: 0%;
}

.route{
	position: absolute;
	top: 73px;
}

.route-p{
	position: absolute;
	top: 94px;
}

.port{
	position: absolute;
	top: 145px;
}

.duration{
	position: absolute;
	top: 197px;
}

.price{
	position: absolute;
	top: 249px;
}

.port-p{
	position: absolute;
	top: 166px;
}

.duration-p{
	position: absolute;
	top: 218px;
}

.price-p{
	position: absolute;
	top: 270px;
}

.btn{
	position: absolute;
	display: block;
	background: #F9FBFD;
	width: 210px;
	height: 40px;
	text-decoration: none;
	top: 311px;
}

.btn:hover{		
	color: #034aa6;
	background-color: #e6e6e6;
}

.btn:active{		
	color: #034aa6;
	background-color: #b8b8b8;
}

.h4{
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	align-items: center;
	color: #F9FBFD;
	margin: 0;
	line-height: 140%;
}

.btn .h4{
	position: absolute;
	color: #011C40;
	font-weight: 600;
	left: 47px;
	bottom: 11px;
}

.btn .h4:active{
	color: 	red;
}

.btn .h4:hover{
	color: 	#034aa6;
}

.booking{
	position: absolute;
	width: 1366px;
	height: 555px;
	top: 2876px;
	background-image: url(img/booking.png);
	background-color: #87cefa;
}

.booking h2{
	position: absolute;
	top: 220px;
	left: 163px;
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	align-items: center;
	color: #011C40;
	margin: 0px;
}

.booking p{
	position: absolute;
	height: 40px;
	left: 163px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	width: 352px;
	align-items: center;
	color: #011C40;
	margin: 0px;
}

.booking-p-one{
	top: 283px;
	margin:0;
	width: 352px;
}

.booking-p-two{
	top: 310px;
}

.booking-form{
	position: absolute;
	width: 403px;
	height: 455px;
	left: 800px;
	top: 51px;
	background: #011C40;
}



::-webkit-input-placeholder {color:#011C40;}

.booking-form .h3{
	position: absolute;
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
	color: #F9FBFD;
	width: 303px;
	top: 44px;
	left: 50px;
	margin: 0;
}

.booking-form-group input{
	position: absolute;
	width: 287px;
	height: 41px;
	background: #F9FBFD;
	left: 50px;
	border: none;
	color: #011C40;
	padding-left: 16px;
	font-size: 14px;
	font-family: Montserrat, "Cramaten", sans-serif;

}

.booking-form-group input:focus{
	outline: none;
}

.checkbox-area input[type="checkbox"]{
	position: absolute;
	width: 18px;
	height: 18px;
	left: 50px;
	top: 314px;
	margin: 0;
	background: #F9FBFD;
	cursor: pointer;
}
.checkbox-area input[type=checkbox]:checked + label:before {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 50px;
	top: 314px;
	content: "\2713";
	font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #011C40;
    text-align: center;
    line-height: 15px;
    background-color: #F9FBFD;
}

.booking-form .consent{
	position: absolute;
	width: 279px;
	height: 8px;
	left: 73px;
	top: 319px;
	font-family: Montserrat,"Cramaten", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 130%;
	display: flex;
	align-items: center;
	color: #F9FBFD;
}

.booking-form-group input[type="submit"]{
	position: absolute;
	width: 303px;
	height: 43px;
	left: 50px;
	top: 362px;
	padding: 0;
	font-weight: 600;
	cursor: pointer;
}



.name{
	position: absolute;
	top: 125px;
}

.phone-form{
	position: absolute;
	top: 188px;
}

.email{
	position: absolute;
	top: 251px;
}

.geo{
	position: absolute;
	width: 1160px;
	height: 306px;
	left: 103px;
	top: 3551px;
}

.geo-vector img{
	position: absolute;
	left: 249px;
	top: 217px;
	width: 18px;
	height: 22px;
}

.geo h3{
	position: absolute;
	width: 500px;
	height: 40px;
	left: 661px;
	top: 83px;
	margin: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	display: flex;
	align-items: center;
}

.adress-p{
	position: absolute;
	width: 420px;
	height: 12px;
	left: 688px;
	top: 164px;
	margin: 0px;
}

.phone{
	position: absolute;
	height: 12px;
	left: 688PX;
	top: 209px;
	margin: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #011C40;
	align-items: center;
	text-decoration: none;

}

.adress img{
	position: absolute;
	width: 18px;
	height: 22px;
	left: 660px;
	top: 161px;
	margin: 0;
}

.geo-phone img{
	position: absolute;
	width: 18px;
	height: 18px;
	left: 660px;
	top: 208px;
	margin: 0;
}

.page-footer{
	position: absolute;
	width: 1366px;
	height: 138px;
	left: 0px;
	top: 3977px;
	background: #011C40;
}


.logo-bottom{
	position: absolute;
	top: 50px;
	left:  104px;
}

.nav-bottom{
	position: absolute;
	top: 60px;
	left: 213px;
}

.nav-bottom a{
	font-family: "Montserrat","Cramaten", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	color: #F9FBFD;
	text-decoration: none;
	padding-right: 30px;
}

.nav-bottom a:hover{
	color: #e6e6e6;
}

.nav-bottom a:active{
	color: #b8b8b8;
}

.social{
	position: absolute;
	left: 1146px;
	top: 57px;
	cursor: pointer;
}

.social img{
	padding-right: 29px; 
}

.twiter{
	position: absolute;
	top: 4px;
	left: 98px;
}